
body {
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #222;
  margin: 0;
  padding: 0;
}


p {
  margin: 1em 0;
  padding: 0 0.5em;
}

.bu_lang {
   display: none;
    margin-right: 5px;   
}


#VZ {
  color: white;
  margin: 2%;
}

#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9, #b10, #b11, #b12 {
  color: white;
}

.uw {
  background-color: white;
  margin-top: 3%;
}

.w {
  background-color: white;
}

.blocksatz {
  text-align: justify;
}

#kopf {
  background-color: rgb(0, 0, 0);
  position: fixed;
  display: flex;
  font-size: larger;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  height: 3rem;
  left: 0;
  width: 100%;
  align-items: center;
  padding: 0 1rem;
  z-index: 1000;
}

#haupt {
  padding-top: 4rem;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
}

button {
  background-color: rgba(255, 255, 255, 0.509);
  border: 1px solid rgb(0, 0, 0);
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  font-size: 1rem;
}

#b_de {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}

#spra {
  margin: 2%;
}



[lang="grc"] {
  font-family: 'Palatino Linotype', 'Gentium Plus', serif;
}

.greek { color: darkred; }
.long { color: darkblue; }
.hilaire { color: green; }
.casaubon { color: orange; }

